<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="pr.justeat.dao.dto.Elemento" alias="Elemento"/>
		<typeAlias type="pr.justeat.dao.dto.Pedido" alias="Pedido"/>
		<typeAlias type="pr.justeat.dao.dto.Cliente" alias="Cliente"/>
		<typeAlias type="pr.justeat.dao.dto.ClienteEstado" alias="ClienteEstado"/>
	</typeAliases>

	<environments default="development">
    	<environment id="development">
      		<transactionManager type="JDBC"/>
      		<dataSource type="POOLED">
        		<property name="driver" value="com.mysql.jdbc.Driver"/>
        		<property name="url" value="jdbc:mysql://localhost/justeat"/>
        		<property name="username" value="root"/>
        		<property name="password" value="deusto"/>
      		</dataSource>
    	</environment>
	</environments>

	<mappers>
  		<mapper resource="data/ElementoMapper.xml"/>
  		<mapper resource="data/PedidoMapper.xml"/>
  		<mapper resource="data/ClienteMapper.xml"/>
	</mappers>
		
</configuration>